body {

}

.enigme {
  position: absolute;
  top : 42px;
  left : 38%;
  max-width: 600px;
  min-height: 320px;
  background: yellow;
  border: 6px solid red;
}



.tempsecoule {
  border: 1px solid red;
  width: 200px;
  height: 200px;
  background: url('images/horloge.svg') top left no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top : 42px;
  left : 50%;
  transform: translateX(-50%);
}

.tempsecoule p {
  font-size: 4em;
  text-align: center;
  padding: 0
}


.main-view {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  background: url('images/fond.svg') bottom center no-repeat;
  background-size: cover;

}

.rive-gauche,
.rive-droite {
  border: 2px solid red;
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.person {
  width : 100%;
  border : 2px solid green;
}


.choices {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.choices>a {
  flex-basis: 300px;
}

.choice {
    display: flex;
}

.choice a {
  width: 100%;

}


/* <style>
@import url('https://fonts.googleapis.com/css?family=Dokdo');
</style>



.Enigme {
border: 1em;
width: 700px;
height: 200px;
background-color: white;
background-size: cover;
  margin-right: 0 auto;
  font-family: 'Dokdo', cursive;

}
.Enigme p {
  font-size: 1em;
  text-align:center;
  padding:0;
} */
